<h1 class="mt-2">Admin Dashboard</h1>
<div class="row justify-content-center text-center mt-5">
    <div class="col-12">
        <div class="card">
            <div class="card-title mt-2">
                <h1>Settings</h1>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-4">
                        <button class="btn btn-primary">Room Settings</button>
                    </div>
                    <div class="col-4">
                        <button class="btn btn-primary">Subject Settings</button>
                    </div>
                    <div class="col-4">
                        <button class="btn btn-primary">Professor Settings</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>